VNPT-BSC/VNPT-BSC/VNPT-BSC/Web References/SMSsv/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendsms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendsmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendsmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SmsMT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsMTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SmsMTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSMO8x83">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phonenumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSMO8x83Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SMSMO8x83Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Accstatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taikhoan" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccstatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccstatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendsmsSoapIn">
    <wsdl:part name="parameters" element="tns:sendsms" />
  </wsdl:message>
  <wsdl:message name="sendsmsSoapOut">
    <wsdl:part name="parameters" element="tns:sendsmsResponse" />
  </wsdl:message>
  <wsdl:message name="sendsmsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SmsMTSoapIn">
    <wsdl:part name="parameters" element="tns:SmsMT" />
  </wsdl:message>
  <wsdl:message name="SmsMTSoapOut">
    <wsdl:part name="parameters" element="tns:SmsMTResponse" />
  </wsdl:message>
  <wsdl:message name="SMSMO8x83SoapIn">
    <wsdl:part name="parameters" element="tns:SMSMO8x83" />
  </wsdl:message>
  <wsdl:message name="SMSMO8x83SoapOut">
    <wsdl:part name="parameters" element="tns:SMSMO8x83Response" />
  </wsdl:message>
  <wsdl:message name="AccstatusSoapIn">
    <wsdl:part name="parameters" element="tns:Accstatus" />
  </wsdl:message>
  <wsdl:message name="AccstatusSoapOut">
    <wsdl:part name="parameters" element="tns:AccstatusResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="sendsms">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">send sms </wsdl:documentation>
      <wsdl:input message="tns:sendsmsSoapIn" />
      <wsdl:output message="tns:sendsmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsMT">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">send sms MT </wsdl:documentation>
      <wsdl:input message="tns:SmsMTSoapIn" />
      <wsdl:output message="tns:SmsMTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSMO8x83">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">send sms MO </wsdl:documentation>
      <wsdl:input message="tns:SMSMO8x83SoapIn" />
      <wsdl:output message="tns:SMSMO8x83SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Accstatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">check status user </wsdl:documentation>
      <wsdl:input message="tns:AccstatusSoapIn" />
      <wsdl:output message="tns:AccstatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendsms">
      <soap:operation soapAction="http://tempuri.org/sendsms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:sendsmsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsMT">
      <soap:operation soapAction="http://tempuri.org/SmsMT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSMO8x83">
      <soap:operation soapAction="http://tempuri.org/SMSMO8x83" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Accstatus">
      <soap:operation soapAction="http://tempuri.org/Accstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendsms">
      <soap12:operation soapAction="http://tempuri.org/sendsms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:sendsmsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsMT">
      <soap12:operation soapAction="http://tempuri.org/SmsMT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSMO8x83">
      <soap12:operation soapAction="http://tempuri.org/SMSMO8x83" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Accstatus">
      <soap12:operation soapAction="http://tempuri.org/Accstatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.70.28.200:8080/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.70.28.200:8080/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>